parameters:
	level: 7
	paths:
		- %currentWorkingDirectory%/src
		- %currentWorkingDirectory%/tests
	ignoreErrors:
		- '#Access to an undefined property Framework\\Session\\Session::\$[a-zA-Z0-9_]+\.#'
